
  <!DOCTYPE HTML>
  <html lang="en">
      <head>
    
    <META http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    
        <title>Global Capital Markets Outlook: 2Q:2026 &#124; AB</title>
    
    
    
    
    <meta name="template" content="generic-template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Global Capital Markets Outlook: 2Q:2026"/>
<meta name="twitter:site" content="@AB_insights"/>
<meta name="keywords" content="AB"/>
<meta name="twitter:description" content="AB"/>
<meta name="description" content="AB"/>
<meta name="twitter:image" content="https://www.alliancebernstein.com/content/dam/global/insights/insights-heroes/b-Hero-capital-markets-outlook.w.jpg"/>

    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://www.alliancebernstein.com/content/dam/global/insights/insights-heroes/b-Hero-capital-markets-outlook.w.jpg"/>
<meta property="og:image:width" content="1600"/>
<meta property="article:published_time" content="2026-05-05T00:00:28Z"/>
<meta property="og:site_name" content="AllianceBernstein"/>
<meta property="article:modified_time" content="2026-05-05T00:00:28Z"/>
<meta property="og:title" content="Global Capital Markets Outlook: 2Q:2026"/>
<meta property="og:image:height" content="760"/>
<meta property="og:locale" content="en"/>
<meta property="og:image:type" content="image/jpeg"/>
<meta property="og:url" content="https://www.alliancebernstein.com/content/dam/global/insights/insights-heroes/b-Hero-capital-markets-outlook.w.jpg"/>
<meta property="og:description" content="AB"/>
<meta property="article:author" content="AllianceBernstein"/>

    

    <link rel="canonical" href="https://www.alliancebernstein.com/americas/en/financial-professional/capital-markets-outlook.html"/>



    <link rel="alternate" hreflang="en-nz" href="https://www.alliancebernstein.com/nz/en/institutions/capital-markets-outlook.html"/>

    <link rel="alternate" hreflang="en-us" href="https://www.alliancebernstein.com/us/en-us/investments/ab-market-views/capital-markets-outlook.html"/>

    <link rel="alternate" hreflang="en-au" href="https://www.alliancebernstein.com/au/en/institutions/capital-markets-outlook.html"/>

    
    <link href="/etc.clientlibs/alliance-bernstein/clientlibs/clientlib-common/resources/images/favicon.ico" rel="icon"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/etc.clientlibs/alliance-bernstein/clientlibs/clientlib-common/resources/images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/etc.clientlibs/alliance-bernstein/clientlibs/clientlib-common/resources/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/etc.clientlibs/alliance-bernstein/clientlibs/clientlib-common/resources/images/favicon-16x16.png"/>
    <link rel="mask-icon" href="/etc.clientlibs/alliance-bernstein/clientlibs/clientlib-common/resources/images/safari-pinned-tab.svg"/>
    

    <script type="text/javascript">
	var digitalDataLayer = {};
	var allianceMetadata = '';
	var dictionaryRoot = "/services/dict";
    var dictionary = '';
</script>



	



<script type="text/javascript">
allianceMetadata += 'segmentID=' + 49;
digitalDataLayer.iData = {
	"loginStatus":"TBD",
	"visitorType":"TBD",
	"pardotID":"TBD",
	"ECID":"TBD",
	"userSegment":"TBD",
	"leadScore":"TBD",
	"clientStatus":"TBD",
	"segmentSiteName":"TBD",
	"visitorStatus":"TBD",
	"personID":"TBD",
	"socialInteractions":"TBD"
};

digitalDataLayer.common ={
	"page" : {
		"pageInfo" :{
			"pageName":"Global Capital Markets Outlook: 2Q:2026",
			"enPageTitle":"Capital Markets Outlook",
			"pageUrl":"https://www.alliancebernstein.com/americas/en/financial-professional/capital-markets-outlook.html",
			"pageId":"6b236a60-34b7-3172-971f-f3e8e7b76cfc",
			"pageType" : "generic-template",
			"languageCode":"en",
			"segmentCountryCode":"americas",
			"segmentCountryName":"Americas",
			"segmentID":"49",
			"segmentName":"financial-professional",
			"publishedDate":"05 May 2026"
		},
		"section" : {
			"subSection1" : "capital-markets-outlook",
			"subSection2" : "",
			"subSection3" : ""
		}
	}
}
digitalDataLayer.vidData = [];


//logic to populate dictionary into HTML DOM
var languageCode='en';

//Conditional overrides only when dictonary.json does not match language.
languageCode = (languageCode === "") ? "en" : languageCode;  //default to en if exist.
languageCode = (languageCode === "zh") ? "zh-hk" : languageCode;  //china website.

var dictionaryPath = dictionaryRoot + "."+languageCode + ".json";
 if(dictionaryPath) {
 	try {
     	var xhr = new XMLHttpRequest();
     	xhr.open("GET", dictionaryPath, false);
     	xhr.send();
     	dictionary = JSON.parse(JSON.parse(xhr.responseText).dictionaryData);
     } catch (e) {
    	console.log("XHR exception "+e);
     }
 }

</script>











<script type="text/javascript">
digitalDataLayer.mData = {
	"interactions": {
		"longPageJumpNavName": ""
	},
	"tabs": {
		"interactions": {
			"tabName": ""
		}
	}
}
</script>


	<script type="text/javascript">
		digitalDataLayer.mData = {
			...digitalDataLayer.mData,
			analyticsTags: {"asset-class":["Equities","Fixed Income"],"format":["Presentation"],"topic":["Volatility","Rising Rates"]}
		}
	</script>


    






	
	  <script type="application/ld+json">
		{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "Global Capital Markets Outlook: 2Q:2026",
  "description": "AB",
  "url": "https://www.alliancebernstein.com/americas/en/financial-professional/capital-markets-outlook.html"
}
	  </script>
	  
	

	

    <script>
//prehiding snippet for Adobe Target with asynchronous Launch deployment
(function(g,b,d,f){(function(a,c,d){if(a){var e=b.createElement("style");e.id=c;e.innerHTML=d;a.appendChild(e)}})(b.getElementsByTagName("head")[0],"at-body-style",d);setTimeout(function(){var a=b.getElementsByTagName("head")[0];if(a){var c=b.getElementById("at-body-style");c&&a.removeChild(c)}},f)})(window,document,"body {opacity: 0 !important} ",3E3);
</script>

	<script>
  function targetPageParams() {
    return {
      "at_property": "2df82734-b1ee-5999-8350-d4375eb73aa5"
    };
  }
</script>
<script src="//assets.adobedtm.com/15d02decd547/70bf4a2a2453/launch-1eff3dec5a21.min.js" type="text/plain" class="optanon-category-4" async></script>


    

   
    
<link rel="stylesheet" href="/etc.clientlibs/alliance-bernstein/clientlibs/clientlib-base.9d3aa77007186111b77914dac2f16bf5.css" type="text/css">






<script>
    dataSpec = {
        "baseDomain": "https://www.alliancebernstein.com",
        "baseUrl": "https://www.alliancebernstein.com",
        "countryCode": "americas",
        "currentSegment": "49",
        "currentSegmentName": "financial-professional",
        "fundApiUrl": "https://webapi.alliancebernstein.com/v1/shareclasses/americas/en/financial-professional",
        "homePageUrl": "https://www.alliancebernstein.com/americas/en/financial-professional",
        "insightsUrl": "https://www.alliancebernstein.com/americas/en/financial-professional/insights",
        "isin": "",
        "lang": "en",
        "noSegUrl": "/services/nosegment.json",
        "runmode": "publish",
        "translationUrl": "https://www.alliancebernstein.com/etc.clientlibs/alliance-bernstein/clientlibs/clientlib-common/resources/json/translation/en.json",
		"pageDateFormat": "MMMM dd yyyy",
        "solrAPIUrl": "https://searchapi.alliancebernstein.com/search"
    };
</script>












    <script type="text/javascript">
        dataSpec.domains = { "global": "https://www.alliancebernstein.com", "sg": "https://www.abfunds.com.sg", "hk": "https://www.abfunds.com.hk", "tw": "https://www.abfunds.com.tw", "cn": "https://www.abglobal.com.cn" };
        dataSpec.env = 'prod';
    </script>




    
<script>
  var domainname = window.location.hostname;
  //var path =  window.location.pathname;
  function loadOneTrust(domainscript, callback, dataset) {
    var domainscriptUpdated = '';
    domainscriptUpdated = (dataSpec.env === 'prod') ? domainscript : domainscript + '-test';
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.charset = 'UTF-8';
    if (dataset !== undefined) {
      script.setAttribute('data-language', dataset);
    }
    script.setAttribute('data-domain-script', domainscriptUpdated);
    if (script.readyState) {
      //IE
      script.onreadystatechange = function () {
        if (script.readyState == 'loaded' || script.readyState == 'complete') {
          script.onreadystatechange = null;
          callback();
        }
      };
    } else {
      //Others
      script.onload = function () {
        callback();
      };
    }
    script.src = 'https://cdn.cookielaw.org/scripttemplates/otSDKStub.js';
    document.getElementsByTagName('head')[0].appendChild(script);
  }
  if (dataSpec.runmode === 'publish') {
    switch (true) {
      case [
        '2',
        '3',
        '5',
        '6',
        '13',
        '18',
        '20',
        '21',
        '26',
        '28',
        '29',
        '35',
        '37',
        '45',
        '46',
        '47',
        '48',
        '49',
        '65',
        '66',
        '88',
        '100',
        '0',
        '57',
        '90',
        '98',
        '89',
        '97',
        '87',
        '96',
        '86',
        '95',
        '92',
        '101',
        '106',
        '115',
        '114',
      ].indexOf(dataSpec.currentSegment) > -1 && dataSpec.lang === 'en':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'en'
        );
        break;
      case [
        '5',
        '7',
        '24',
        '32',
        '34',
        '36',
        '42',
        '43',
        '53',
        '54',
        '55',
        '33',
        '44',
        '56',
        '81',
        '82',
        '83',
        '8',
        '10',
        '11',
        '12',
        '9',
        '102',
        '103',
        '104',
        '105',
        '90',
        '98',
        '89',
        '97',
        '87',
        '96',
        '86',
        '95',
        '92',
        '101',
        '106',
        '84',
        '93',
        '115',
        '114',
      ].indexOf(dataSpec.currentSegment) > -1 && dataSpec.lang === 'en-gb':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'en-GB'
        );
        break;
      case [
        '22',
        '31',
        '32',
        '34',
        '38',
        '39',
        '42',
        '43',
        '54',
        '55',
        '52',
        '50',
        '57',
        '11',
      ].indexOf(dataSpec.currentSegment) > -1 && dataSpec.lang === 'de':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'de'
        );
        break;
      case ['49'].indexOf(dataSpec.currentSegment) > -1 &&
        dataSpec.lang === 'es':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'es'
        );
        break;
      case ['82'].indexOf(dataSpec.currentSegment) > -1 &&
        dataSpec.lang === 'nl':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'nl'
        );
        break;
      case ['81'].indexOf(dataSpec.currentSegment) > -1 &&
        dataSpec.lang === 'pl':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'pl'
        );
        break;
      case ['23', '41'].indexOf(dataSpec.currentSegment) > -1 &&
        dataSpec.lang === 'it':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'it'
        );
        break;
      case ['36', '42', '43', '32', '34', '54', '55', '51', '40', '84'].indexOf(
        dataSpec.currentSegment
      ) > -1 && dataSpec.lang === 'fr':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'fr'
        );
        break;
      case ['91', '99'].indexOf(dataSpec.currentSegment) > -1 &&
        dataSpec.lang === 'es':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'es'
        );
        break;
      case ['26'].indexOf(dataSpec.currentSegment) > -1 &&
        dataSpec.lang === 'zh_Hant':
        loadOneTrust(
          '166205a4-8f4d-4a96-98ad-f797613fa401',
          function () { },
          'zh'
        );
        break;
      case ['25'].indexOf(dataSpec.currentSegment) > -1 &&
        dataSpec.lang === 'en':
        if (domainname == 'www.abfunds.com.sg') {
          loadOneTrust('ddbd66a1-22e1-42e6-80bf-367ab4fa0f7f', function () { });
        } else {
          loadOneTrust(
            '166205a4-8f4d-4a96-98ad-f797613fa401',
            function () { },
            'en'
          );
        }
        break;
      case ['27'].indexOf(dataSpec.currentSegment) > -1 &&
        dataSpec.lang === 'en':
        if (domainname == 'www.abfunds.com.hk') {
          loadOneTrust(
            '9c8a3d8f-9248-4595-bf54-650bf85f4b98',
            function () { },
            'en'
          );
        } else {
          loadOneTrust(
            '166205a4-8f4d-4a96-98ad-f797613fa401',
            function () { },
            'en'
          );
        }
        break;
      case ['27'].indexOf(dataSpec.currentSegment) > -1 &&
        dataSpec.lang === 'zh-hk':
        if (domainname == 'www.abfunds.com.hk') {
          loadOneTrust(
            '9c8a3d8f-9248-4595-bf54-650bf85f4b98',
            function () { },
            'zh'
          );
        } else {
          loadOneTrust(
            '166205a4-8f4d-4a96-98ad-f797613fa401',
            function () { },
            'zh'
          );
        }
        break;
      case ['4'].indexOf(dataSpec.currentSegment) > -1 && dataSpec.lang === 'en-us':
        loadOneTrust('166205a4-8f4d-4a96-98ad-f797613fa401', function () { }, 'en');
        break;
      default:
        loadOneTrust('166205a4-8f4d-4a96-98ad-f797613fa401', function () { }, 'en');
        break;
    }
  }
</script>
<script type="text/javascript">
  function OptanonWrapper() { }
</script>
    
    
    

    

    
    
    


    
</head>
      <body class="genericpage page basicpage generic-template">
          
                 <div id="no-seg" class="ab-noseg"></div>
                 
          
          
          
              



              
<div class="root responsivegrid">


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">
<div class="cmp-experiencefragment">
<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="ab-header aem-GridColumn aem-GridColumn--default--12">

    


<div id="globalNavReactApp" class="js-global-nav"></div>
<section class="ab-navbar" id="js-ab-navbar"> 
	<div class="ab-container-fluid">
		<div class="ab-navbar-wrapper">
			<div class="ab-logo-container">
				<a href="javascript:void(0);" class="ab-icon-mobile" onclick="toggleMobileNav()">menu</a>
				<a href="/americas/en/financial-professional/home.html" class="ab-logo-wrapper">
					
					<img src="/content/dam/global/logos/ab-logo-rebrand.png" alt="America&#39;s Financial Professionals" title="America&#39;s Financial Professionals" class="abcom-logo abcom-logo-mobile ab-mobile-hide"/> 
					<img src="/content/dam/global/logos/alliancebernstein-desktop-logo.svg" alt="America&#39;s Financial Professionals" title="America&#39;s Financial Professionals" class="abcom-logo abcom-logo-desktop ab-desktop-hide"/> 
				</a>
			</div>
				<ul class="ab-local-nav" id="js-ab-local-nav">
					<li class="ab-li-dropdown">
						
						
							<div class="ab-dropdown-segment"> 
								<a class="ab-nav-dropdown-btn" href="javascript:;" onclick="toggleDropDown(this)">Funds <span class="fa fa-angle-down toggle-icon"></span></a>
								<div class="ab-dropdown-panel">
                                  <div class="ab-container">
									
										<a href="/americas/en/financial-professional/funds.html" target="_self">Full Fund Range</a>
									
										<a href="/americas/en/financial-professional/funds.html?shareClass=ETF" target="_self">Active UCITS ETFs</a>
									
                                   </div>
								</div>
							</div>
						
					</li>
<li class="ab-li-dropdown">
						
						
							<div class="ab-dropdown-segment"> 
								<a class="ab-nav-dropdown-btn" href="javascript:;" onclick="toggleDropDown(this)">Capabilities <span class="fa fa-angle-down toggle-icon"></span></a>
								<div class="ab-dropdown-panel">
                                  <div class="ab-container">
									
										<a href="/americas/en/financial-professional/capabilities.html" target="_self">Overview</a>
									
										<a href="/americas/en/financial-professional/capabilities/alternatives.html" target="_self">Alternatives</a>
									
										<a href="/americas/en/financial-professional/capabilities/equities.html" target="_self">Equities</a>
									
										<a href="/americas/en/financial-professional/capabilities/fixed-income.html" target="_self">Fixed Income</a>
									
										<a href="/americas/en/financial-professional/capabilities/multi-asset.html" target="_self">Multi-Asset</a>
									
										<a href="/americas/en/financial-professional/capabilities/emerging-markets.html" target="_self">Emerging Markets</a>
									
										<a href="/americas/en/financial-professional/capabilities/active-etfs.html" target="_self">Active UCITS ETFs</a>
									
                                   </div>
								</div>
							</div>
						
					</li>
<li class="ab-li-dropdown">
						
						
							<div class="ab-dropdown-segment"> 
								<a class="ab-nav-dropdown-btn" href="javascript:;" onclick="toggleDropDown(this)">Insights <span class="fa fa-angle-down toggle-icon"></span></a>
								<div class="ab-dropdown-panel">
                                  <div class="ab-container">
									
										<a href="/americas/en/financial-professional/insights.html" target="_self">Insights in English</a>
									
										<a href="/americas/es/financial-professional/insights.html" target="_self">Insights en Español</a>
									
										<a href="/americas/en/financial-professional/theme/market-matters.html" target="_self">Market Matters in English</a>
									
										<a href="/americas/es/financial-professional/theme/market-matters.html" target="_self">Market Matters en Español</a>
									
										<a href="/americas/en/financial-professional/beyond-consensus-podcast.html" target="_self">Beyond Consensus Podcast</a>
									
                                   </div>
								</div>
							</div>
						
					</li>
<li>
						
							<a href="/americas/en/financial-professional/digital-coach.html" target="_self">Digital Coach</a>
						
						
					</li>
<li class="ab-li-dropdown">
						
						
							<div class="ab-dropdown-segment"> 
								<a class="ab-nav-dropdown-btn" href="javascript:;" onclick="toggleDropDown(this)">About Us <span class="fa fa-angle-down toggle-icon"></span></a>
								<div class="ab-dropdown-panel">
                                  <div class="ab-container">
									
										<a href="/americas/en/financial-professional/contact-us.html" target="_self">Contact Us</a>
									
										<a href="/americas/en/financial-professional/about-us/why-ab.html" target="_self">Why Us</a>
									
										<a href="/corporate/en/corporate-responsibility.html" target="_blank">Responsible Investing</a>
									
                                   </div>
								</div>
							</div>
						
					</li>

					<li class="ab-li-dropdown" id="accountAccessMobile"></li>
					<li class="ab-mbl-changecountry ab-flag-sprite flag-americas"><a href="https://www.abglobal.com/home.htm?r=no">Our Firm &amp; Sites</a></li>
					<li class="ab-li-dropdown" id="mobileLangReactApp"></li>
				</ul>
            <a href="javascript:void(0)" class="ab-panel-close"><i class="fa-light fa-circle-x" aria-hidden="true"></i></a>
		</div>
	</div>
</section></div>

    
</div>
</div>

    
</div>

</div></div>

    
</div>
<div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="ab-breadcrumb aem-GridColumn aem-GridColumn--default--12">

    

<div class="ab-container">
  <div class="ab-row">
    <div class="ab-col-md-12 ab-col-sm-12">
      <nav aria-label="breadcrumbs">
        <ol class="ab-breadcrumbs"><li class="ab-breadcrumbs-item" data-linkLabel="AB" data-linkURL="/content/alliancebernstein/americas/en/financial-professional/home.html"><a href="/americas/en/financial-professional/home.html" target="_self">AB</a></li><li class="ab-breadcrumbs-item" data-linkLabel="Global Capital Markets Outlook: 2Q:2026" data-linkURL="/content/alliancebernstein/americas/en/financial-professional/capital-markets-outlook.html">Global Capital Markets Outlook: 2Q:2026</li>
        </ol>
      </nav>
    </div>
  </div>
</div>


</div>
<div class="ab-hero aem-GridColumn aem-GridColumn--default--12">


    


<div class="ab-hero " style="background-image: url('/content/dam/global/insights/insights-heroes/b-Hero-capital-markets-outlook.w.jpg');" data-bg-img-alt="Icon Text">
    <div class="ab-hero-overlay">&nbsp;</div>

    <div class="ab-container">
        
        <div class="ab-row">
            <div class="ab-col-lg-10 ab-offset-lg-1">
                
                    <div class="ab-hero-title-box">
                        <div class="ab-hero-main-cnt">
                            
                            <h1>Global Capital Markets Outlook: 2Q:2026</h1>
                            

                            

                            
                            
                            <div>

</div>
                        </div>
                    </div>
                
                
            </div>
        </div>
    </div>
</div>
</div>
<div class="ab-share aem-GridColumn aem-GridColumn--default--12">


    





  
<div class="ab-share-vcol ab-container">
  <div id="ab-share-component">
    <div class="ab-btn-group-vertical">
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.alliancebernstein.com/americas/en/financial-professional/capital-markets-outlook.html" rel="noopener noreferrer" target="_blank" class="ab-btn ab-btn-secondary ab-btn-icon ab-div-center ab-share-Facebook Share" aria-label="Facebook Share"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/intent/tweet?text=Global+Capital+Markets+Outlook%3A+2Q%3A2026&url=https%3A%2F%2Fwww.alliancebernstein.com%2Famericas%2Fen%2Ffinancial-professional%2Fcapital-markets-outlook.html" rel="noopener noreferrer" target="_blank" class="ab-btn ab-btn-secondary ab-btn-icon ab-div-center ab-share-Twitter Share" aria-label="Twitter Share"><i class="fab fa-x-twitter"></i></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.alliancebernstein.com/americas/en/financial-professional/capital-markets-outlook.html" rel="noopener noreferrer" target="_blank" class="ab-btn ab-btn-secondary ab-btn-icon ab-div-center ab-share-Linkedin Share" aria-label="Linkedin Share"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:?subject=Global Capital Markets Outlook: 2Q:2026&amp;body= https://www.alliancebernstein.com/americas/en/financial-professional/capital-markets-outlook.html" rel="noopener noreferrer" target="_blank" class="ab-btn ab-btn-secondary ab-btn-icon ab-div-center ab-share-Email Share" aria-label="Email Share"><i class="far fa-envelope"></i></a>
      
      
      
      
      
      
    </div>
  </div>
</div>


<script>
  var shareButtons = document.getElementById('ab-share-component').querySelectorAll('.ab-btn');
  function shareAnalyticsEvent(e) {
    if (e.target.tagName.toLowerCase() === 'a') {
      window.digitalDataLayer.mData.insights.socialInteraction = e.target.getAttribute('aria-label');
    } else {
      window.digitalDataLayer.mData.insights.socialInteraction = e.target.closest('a').getAttribute('aria-label');
    }
  }
  for (var i = 0; i < shareButtons.length; i++) {
    shareButtons[i].addEventListener('click', shareAnalyticsEvent)
  }
</script></div>
<div class="layoutcontainer aem-GridColumn aem-GridColumn--default--12">


<div>
  
    



  <div class="ab-container ">
    
    <div class="ab-bgcolor-white">
      
      <div class="ab-col-md-10 ab-offset-md-1">
        
        <div class="ab-row ab-d-flex">
          <div class="ab-col-sm-12 ab-col-md-6 ab-stacked-sm">
            





          </div>
        
          <div class="ab-col-sm-12 ab-col-md-6 ab-stacked-sm">
            





          </div>
        </div>
        
      </div>
    </div>
  </div>




    <div class="ab-spacer-md"></div>
  
    



  <div class="ab-container ">
    
    <div class="ab-bgcolor-white">
      
      <div class="ab-col-md-10 ab-offset-md-1">
        
        <div class="ab-row ab-d-flex">
          <div class="ab-col-sm-12 ab-col-md-12">
            




    
    
    <div class="ab-title-teaser">
	
	<div class="ab-title-teaser ab-div-left  ">
		<h2>What You Should Know</h2>
<p>As Middle East conflict rattles markets, we’re once again at a crossroads. AI’s long-run potential remains the primary economic and market driver, but lingering anxieties could create resistance in the transition from old to new economy. We still see upside, but more modest returns may be ahead.</p>

	</div></div>


    
    
    <div class="ab-button">


  
    
    
      <div class="ab-btn-group ab-div-left">
        
  
  
    
        <a class="ab-btn ab-btn-primary ab-btn-text-icon " aria-label="Download PDF: What You Need to Know" data-analytics="capital-markets-outlook|what-you-need-to-know|download-pdf" href="/content/dam/global/insights/insights-cmo-gcmo/2q-2026-alliancebernstein-global-capital-markets-outlook.pdf" target="_blank"> Download PDF<i class="far fa-arrow-to-bottom"></i> </a>
    
    
  

      </div>
    
  
  
</div>



          </div>
        </div>
        
      </div>
    </div>
  </div>




    <div class="ab-spacer-md"></div>
  
    



  <div class="ab-container ">
    
    <div class="ab-bgcolor-white">
      
      <div class="ab-col-md-10 ab-offset-md-1">
        
        <div class="ab-row ab-d-flex">
          <div class="ab-col-sm-12 ab-col-md-12">
            




    
    
    <div class="ab-title-teaser">
	
	<div class="ab-title-teaser ab-div-left  ">
		<h2>Key Takeaways</h2>
<ul>
<li>As the second quarter unfolds, inflation continues to make slow progress, economic growth is solid but narrow, and labor markets remain in an uncomfortable balance</li>
<li>Equity markets are adjusting to a more uncertain world and will likely remain volatile until the Middle East conflict resolves. However, there are high-conviction areas.</li>
<li>Together, bond yields and spreads are as high as they’ve been in a year, providing compelling all-in yields. High-yield credit is no exception.</li>
</ul>
<h2>A Macro Picture That Refuses to Simplify Itself</h2>
<p><br />
Equity markets posted their worst two-quarter stretch since 2022, and the macro picture refuses to simplify any further. Looking through yet another supply-side shock, inflation continues to make slow progress in key areas such as housing, tariff sensitive goods and services non-housing. Economic growth is solid but narrow, and could be the key economic risk if the war is prolonged. The bottom 90% of the K-shaped economy has struggled; a drawn-out conflict would exacerbate their affordability problem and, unlike previous shocks, affect the upper part of the “K.”</p>
<p><br />
The labor market remains in an uncomfortable balance. Much like growth, it’s vulnerable to a shock, though an uncomfortable balance is still a balance. How this “Holy Trinity” of inflation, growth and labor translates into monetary policy remains to be seen. Right now, the Federal Reserve sees the federal funds rate as “in the high end of neutral,” although we see rate cuts ahead, whether the war continues or not (Display).</p>

	</div></div>


    
    
    <div class="ab-image">
	
    <div class="ab-image-wrapper ">
        

        
            
                <div class="ab-image-border">
                    
                    
                        <div class="ab-chart-padding">
                            
    
        <div class="ab-chart-title">The Fed Still Sees Rate Cut(s) Ahead…and We Agree </div>
    
    
        <div class="ab-image-subtitle">Number of Rate Hikes (+) vs. Cuts (–) Projected by Markets </div>
    
    
 <picture class="ab-picture-float">
    <source media="(max-width: 649px)" srcset="/content/dam/global/insights/insights-displays/annotated_capital-markets-outlook-2q2026-at-the-intersection-of-ai-and-all-the-other-stuff_display-1_d1_mob.svg"/>
    <source media="(min-width: 650px)" srcset="/content/dam/global/insights/insights-displays/annotated_capital-markets-outlook-2q2026-at-the-intersection-of-ai-and-all-the-other-stuff_display-1_d1.svg"/>
    <img src="/content/dam/global/insights/insights-displays/annotated_capital-markets-outlook-2q2026-at-the-intersection-of-ai-and-all-the-other-stuff_display-1_d1.svg" alt="A history of market expectations for rate hikes, including current projections from the Fed and AB" class="ab-image-left"/>
</picture>

    
        <div class="ab-footnote-text"><p><strong>Current analysis does not guarantee future results. <br />
</strong>As of March 31, 2026<br />
Source: Bloomberg, Federal Reserve and AllianceBernstein (AB)</p>
</div>
        
    


                        </div>
                    
                </div>
            
            
        
        
     </div>
</div>


    
    
    <div class="ab-title-teaser">
	
	<div class="ab-title-teaser ab-div-left  ">
		<h2>As Stocks Await Middle East Resolution, High-Conviction Areas Remain</h2>
<p><br />
Equity markets are adjusting to a more uncertain world where geopolitics, inflation risks and AI disruption have converged. S&amp;P 500 earnings expectations have jumped, with AI’s momentum resilient, while valuations have tumbled as the Iran war reverberates. Until the Middle East conflict resolves and energy markets stabilize, markets will likely remain volatile, with capital discipline and adaptability being key.</p>
<p>In large-cap active core, investors should keep their options open, because factor and style rotations are becoming more frequent. Many value stocks are anchored in hard assets and shorter-duration cash flows, with more immediate, reliable earnings visibility. Sustainable dividend growers have outperformed many classic inflation hedges over time, especially when inflation retreats. Long-term trends offer many thematic avenues, and an opportunity set that intersects with traditional growth and value. Higher-quality, lower-beta names are typically more resilient in market pullbacks.</p>
<p>International developed markets offer competitive earnings growth compared with the US: their markets are less concentrated, and many stocks still trade at a discount. In emerging markets, opportunity has often knocked throughout history—when markets have been buffeted by extreme fear (Display), strong returns have typically followed.</p>

	</div></div>


    
    
    <div class="ab-image">
	
    <div class="ab-image-wrapper ">
        

        
            
                <div class="ab-image-border">
                    
                    
                        <div class="ab-chart-padding">
                            
    
        <div class="ab-chart-title">Extreme Fear Has Preceded Strong Emerging-Market Equity Returns </div>
    
    
        <div class="ab-image-subtitle"> </div>
    
    
 <picture class="ab-picture-float">
    <source media="(max-width: 649px)" srcset="/content/dam/global/insights/insights-displays/annotated_capital-markets-outlook-2q2026-at-the-intersection-of-ai-and-all-the-other-stuff_display-2_d1_mob.svg"/>
    <source media="(min-width: 650px)" srcset="/content/dam/global/insights/insights-displays/annotated_capital-markets-outlook-2q2026-at-the-intersection-of-ai-and-all-the-other-stuff_display-2_d1.svg"/>
    <img src="/content/dam/global/insights/insights-displays/annotated_capital-markets-outlook-2q2026-at-the-intersection-of-ai-and-all-the-other-stuff_display-2_d1.svg" class="ab-image-left"/>
</picture>

    
        <div class="ab-footnote-text"><p><strong>Past performance does not guarantee future results.<br />
 </strong>EM: emerging market. *In US-dollar terms<br />
Left display through March 27, 2026; right display as of February 27, 2026<br />
Source: Bloomberg, Cboe Global Markets, MSCI, S&amp;P and AB</p>
</div>
        
    


                        </div>
                    
                </div>
            
            
        
        
     </div>
</div>


    
    
    <div class="ab-title-teaser">
	
	<div class="ab-title-teaser ab-div-left  ">
		<h2>Bonds—Including High Yield—Offer Strong All-In Yields<br />
 </h2>
<p>In the first quarter, the US Treasury yield curve reversed some of its 2025 steepening, as short-term yields rose. Both yields and spreads have risen back to levels not seen in almost a year, creating an attractive entry point. High-yield bonds also look attractive today, with yields rising back above their long-term averages.</p>
<p>Credit spreads in high yield have tightened, given higher Treasury yields, which now account for a greater share of total yield than is typical. Spread tightening stems from several developments, including improved credit quality and shorter duration. Despite tighter spreads, a healthy all-in yield means that a sizable increase in interest rates would be needed to offset carry potential. Historically speaking, starting yields have been a strong indicator of returns ahead.</p>
<p>As the credit spectrum has evolved, the yield premium between BB-rated bonds, the highest-quality rung in the high-yield universe, and BBB-rated bonds, the lowest rung of investment-grade ratings, has shrunk considerably. In fact, about 40% of BBB-rated bonds now offer BB-like yields. That gives investors the opportunity to move up in quality from BB to BBB with little or no yield give-up (Display).</p>

	</div></div>


    
    
    <div class="ab-image">
	
    <div class="ab-image-wrapper ">
        

        
            
                <div class="ab-image-border">
                    
                    
                        <div class="ab-chart-padding">
                            
    
        <div class="ab-chart-title">Move Up in Quality from BB to BBB Without Giving Up Much (or Any) Yield </div>
    
    
        <div class="ab-image-subtitle"> </div>
    
    
 <picture class="ab-picture-float">
    <source media="(max-width: 649px)" srcset="/content/dam/global/insights/insights-displays/annotated_capital-markets-outlook-2q2026-at-the-intersection-of-ai-and-all-the-other-stuff_display-3_d1_mob.svg"/>
    <source media="(min-width: 650px)" srcset="/content/dam/global/insights/insights-displays/annotated_capital-markets-outlook-2q2026-at-the-intersection-of-ai-and-all-the-other-stuff_display-3_d1.svg"/>
    <img src="/content/dam/global/insights/insights-displays/annotated_capital-markets-outlook-2q2026-at-the-intersection-of-ai-and-all-the-other-stuff_display-3_d1.svg" alt="The spread difference between BB and BBB corporate bonds, and yield comparisons by ratings cohorts " class="ab-image-center"/>
</picture>

    
        <div class="ab-footnote-text"><p><strong>Past performance does not guarantee future results.<br />
 </strong>Bonds are rated by a nationally recognized statistical rating organization; AAA is highest (best) and D is lowest (worst). BBB bonds are represented by the BBB cohort bonds in Bloomberg US Credit Corporate. BB bonds are represented by the BB cohort bonds in Bloomberg US High Yield Corporate.<br />
As of March 31, 2026<br />
Source: Bloomberg and AB</p>
</div>
        
    


                        </div>
                    
                </div>
            
            
        
        
     </div>
</div>



          </div>
        </div>
        
      </div>
    </div>
  </div>




    <div class="ab-spacer-md"></div>
  
    



  <div class="ab-container ">
    
    <div class="ab-bgcolor-white">
      
      <div class="ab-col-md-10 ab-offset-md-1">
        
        <div class="ab-row ab-d-flex">
          <div class="ab-col-sm-12 ab-col-md-12">
            




    
    
    <div class="contentfragment">

    
    <article class="cmp-contentfragment" data-cmp-contentfragment-model="/content/dam/global/cfs/insights/footnotes/uk-authors/jcr:content/model" data-cmp-contentfragment-path="/content/dam/global/cfs/insights/footnotes/uk-authors">
		<div>
        
            
    <dl class="cmp-contentfragment__elements">
        
    <div class="cmp-contentfragment__element cmp-contentfragment__element--main" data-cmp-contentfragment-element-type="string">
        <dd class="cmp-contentfragment__element-value">
            
            
            <p><b>The views expressed herein do not constitute research, investment advice or trade recommendations and do not necessarily represent the views of all AB portfolio-management teams. Views are subject to revision over time.</b></p>

        </dd>
    </div>

    </dl>

        
        </div>
    </article>




    

</div>


    
    
    <div class="ab-relatedinsights">


	
		<div class="abpc-related-insights" data-topic="volatility,rising-rates" data-category="financial-professional" data-format="presentation" data-assetClass="equities,fixed-income" data-filterType="topic" data-relatedInsightsUrl="/content/alliancebernstein/americas/en/financial-professional/insights/_jcr_content.insights.topic.json" data-relatedInsightsTile="3cards" data-sectionTitle="More For You"></div>
			
</div>



          </div>
        </div>
        
      </div>
    </div>
  </div>




    <div class="ab-spacer-md"></div>
  
  <div class="ab-spacer-lg"></div>
</div>

</div>

    
</div>
</div>
<div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">
<div class="cmp-experiencefragment">
<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="footer aem-GridColumn aem-GridColumn--default--12">

 
<div class="ab-footer">
	<div class="ab-container">
		<div class="ab-row">
			<div class="ab-col-lg-8">
				<nav>
					<a href="/americas/en/financial-professional/terms-of-use.html" target="_self">Terms of Use</a>
					
                    
				
					<a href="https://www.alliancebernstein.com/corporate/en/footer-disclosure/privacy-policy.html" target="_blank">Privacy Policy</a>
					
                    
				
					
					
                    <a href="javascript:void(0)" class="optanon-toggle-display" target="_self">Cookie Settings</a>
				
					<a href="/corporate/en/footer-disclosure/business-continuity.html" target="_self">Business Continuity Plan</a>
					
                    
				
					<a href="https://www.alliancebernstein.com/corporate/en/footer-disclosure/management-company.html" target="_self">Management Company</a>
					
                    
				
					<a href="/corporate/en/contact-us.html" target="_blank">Contact Us</a>
					
                    
				
					<a href="https://www.alliancebernstein.com/content/dam/corporate/corporate-pdfs/AB-Global-Slavery-Statement.pdf" target="_self">Modern Slavery Statement</a>
					
                    
				
					<a href="https://www.alliancebernstein.com/corporate/en/footer-disclosure/fraud-and-security.html" target="_self">Fraud and Investor Security</a>
					
                    
				</nav>
			</div>
			<div class="ab-col-lg-4">
				<div class="ab-social-media">
					<a href="https://twitter.com/ab_insights" target="_blank" class="ab-btn ab-btn-secondary ab-btn-icon ab-dark ab-div-center ab-footer-Twitter twitter" aria-label="Twitter"><i class="fab fa-x-twitter"></i></a>
				
					<a href="https://www.linkedin.com/company/abglobal" target="_blank" class="ab-btn ab-btn-secondary ab-btn-icon ab-dark ab-div-center ab-footer-LinkedIn linkedin" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
				
					<a href="https://www.facebook.com/ABinsights?ref=ts" target="_blank" class="ab-btn ab-btn-secondary ab-btn-icon ab-dark ab-div-center ab-footer-Facebook facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
				
					<a href="https://www.instagram.com/alliancebernstein/" target="_blank" class="ab-btn ab-btn-secondary ab-btn-icon ab-dark ab-div-center ab-footer-Instagram instagram" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
				
					<a href="https://www.youtube.com/user/AllianceBernsteinLP" target="_blank" class="ab-btn ab-btn-secondary ab-btn-icon ab-dark ab-div-center ab-footer-Youtube youtube" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
				</div>
			</div>
			<div class="ab-col-md-12">
				<div class="ab-footer-disclosure"><p>This website is authorized for use only by registered broker-dealers and is not authorized for use by the general public. The material contained herein is not for inspection by, distribution or quotation to, the general public. The sale of shares of AllianceBernstein funds may be restricted in certain jurisdictions. In particular, shares may not be offered or sold, directly or indirectly, in the United States or to US persons, as is more fully described in the prospectus with respect to each fund. Shares of AllianceBernstein funds are offered only pursuant to the fund's current prospectus together with the most recent financial statements. The information on this page is for information purposes only and should not be construed as an offer to sell, or solicitation to buy, or a recommendation for the securities of any AllianceBernstein fund.</p>
<p>AllianceBernstein provides its investment management services in Canada through its affiliates Sanford C. Bernstein &amp; Co. LLC and AllianceBernstein Canada, Inc. Shares of the AllianceBernstein Luxembourg funds described herein are not registered in Canada for public sale to Canadian resident investors. </p>
</div>
				<div>&#169; <span id="footer-year"></span> AllianceBernstein L.P.</div>
			</div>
		</div>
	</div>
</div></div>

    
</div>
</div>

    
</div>

</div></div>

    
</div>

    
</div>
</div>


              
    
    

   
    
<script src="/etc.clientlibs/alliance-bernstein/clientlibs/clientlib-base.78159889f3601cf7cb4bc4f3923de427.js"></script>





<script src="https://kit.fontawesome.com/c98cff3d44.js" crossorigin="anonymous" data-auto-replace-svg="nest"></script>
    

    


              

          
      </body>
  </html>
  