
<!DOCTYPE html>
<html>
<head>






	<title>公司在光通讯业务方面，依托高阶mSAP 工艺上的技术与量产优_鹏鼎控股（002938）投资者关系互动平台-全景路演</title>
	<meta name="keywords" content="公司在光通讯业务方面，依托高阶mSAP 工艺上的技术与量产优,鹏鼎控股,002938, 投资者关系互动平台, 全景路演" />
	<meta name="description" content="公司在光通讯业务方面，依托高阶mSAP 工艺上的技术与量产优势，瞄准800G/1.6T 光通讯升级窗口，与客户合作开发下一代3.2T 光通讯解决方案。目前进展如何？" />













	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
	
	






	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0" />

	<script type="text/javascript">var BASE_PATH="https://ir.p5w.net/",basePath="https://ir.p5w.net/",randm=Math.random();var rsPath="https://rs.p5w.net/";</script>
	<link rel="shortcut icon" type="image/x-icon" href="https://ir.p5w.net/resources/images/favicon.ico" media="screen" />
	<link rel="stylesheet" href="https://ir.p5w.net/resources/plugins/layer/skin/layer.css">
	<link rel="stylesheet" id="newNav" href="https://ir.p5w.net/resources/css/common.css?v=20260520">
	<link rel="stylesheet" href="https://ir.p5w.net/resources/plugins/jqpcss/jquery.pagination.css">
	<script src="https://ir.p5w.net/resources/plugins/jquery/jquery-3.6.0.min.js"></script>
	<script src="https://ir.p5w.net/resources/plugins/jplugins/jquery.pagination-1.2.7.min.js"></script>
	<script src="https://ir.p5w.net/resources/js/common/common.js?v=20260520"></script>
	<script src="https://ir.p5w.net/resources/plugins/layer/layer.js"></script>
	<script src="https://ir.p5w.net/resources/js/common/messager.js?v=20260520"></script>
	<script src="https://ir.p5w.net/resources/plugins/vue/vue.min.js"></script>
</head>
<body class="news_page">
	<!-- 头部信息 -->
	

<link rel="stylesheet" href="//www.p5w.net/css/common-nav-p.css" charset="utf-8"/>
<script src="//www.p5w.net/js/jquery.p5wcommon-header.js" charset="utf-8"></script>
<!--用户退出后，发送通知给ucenter管理的其它项目-->

<!--顶部s-->
<!--统一头部-->
<div style="display: none;">

</div>
<header id="header20"></header>



<script charset="UTF-8" src="https://ir.p5w.net/resources/plugins/sa-sdk/sensorsdata.min.js"></script>
<script charset="UTF-8">
    var sensorsSwitch = false;
    console.log("sensorsSwitch=" + sensorsSwitch);
    if (sensorsSwitch) {
        var sensors = window['sensorsDataAnalytic201505'];
        sensors.init({
            server_url: 'https://analysisup.p5w.net/sa?project=qjly',
            heatmap:{scroll_notice_map:'not_collect'},
            use_client_time:false,
            send_type:'beacon',
            heatmap: {
                clickmap:'default',
                scroll_notice_map:'default'
            }
        });

        sensors.registerPage({
            from: '投资者关系互动平台'
        });
        sensors.quick('autoTrack');
    } else {
        console.log("sensors closed");
    }

</script>




<script>
//设置P5W公共头部
if($("#loginUserName").val() != null && $("#loginUserName").val() != ""){
	p5wheader.isLogin = true;
	p5wheader.loginUserName = $("#loginUserName").val();
	p5wheader.userCenterUrl = BASE_PATH + "manager/userCenter/toUsercenter.shtml";
	p5wheader.logoutUrl = BASE_PATH + "user/user/userLogout.shtml";
	p5wheader.logoutBackUrl = BASE_PATH;
}else{
	p5wheader.loginUrl = BASE_PATH + "login.shtml?toTargetPage="+window.location.href;
}
p5wheader.header20();

/* function search(){
	var searchValue=$("#searchValue").val().trim();
	if(searchValue&&searchValue!='代码/关键词'){
			window.location.href=BASE_PATH+"search/toSearchResult.shtml?searchValue="+encodeURI(encodeURI(searchValue.replace(/\+/g,'%2B'),"utf-8"),"utf-8");
	}
} */
$(function(){
	/* $('[name="searchValue"]').keyup(function(e){
		console.log(e.keyCode);
		if(e.keyCode==13){
			search();
		}
	}); */
	function setLoginUrl(){
		var locationUrl=window.location.href,
			lsPath=BASE_PATH,
			hashVal;

		if(lsPath.indexOf(":8080")>-1){	//本地不做任何操作

		}else if(lsPath.indexOf(":80")>-1){	//线上替换:80后，保证lsPath和地址栏的主地址相同
			lsPath=lsPath.replace(":80","");
		}
		hashVal=locationUrl.replace(lsPath,'');

		//替换hash值里的&为！
		if(hashVal.indexOf("&")>-1){
			var reg = new RegExp( '&' , "g" );
			hashVal = hashVal.replace( reg , '!' );
		}

		if(BASE_PATH.indexOf(locationUrl)>-1){	//首页
			locationUrl=BASE_PATH+"login.shtml";
		}else{	//频道页
			locationUrl=BASE_PATH+"login.shtml?toTargetPage="+hashVal;
		}

		$('.loginEnterBtn').attr("href",locationUrl);
    }
    setLoginUrl();
})
</script>

	
	<!-- 菜单信息  -->
	
<script src="https://ir.p5w.net/resources/plugins/jplugins/jquery.autocompleter.js"></script>
<script src="https://ir.p5w.net/resources/js/company/autoSearch.js?v=20260520"></script>
<!--导航 s-->
<div class="topMenu" id="top_nav">
    <div class="area cf">
        <a href="https://ir.p5w.net/" class="logoVote"></a>
        <ul class="list">                
            <li><a href="https://ir.p5w.net/" class="t">首页</a></li>
            <li><a href="https://ir.p5w.net/roadshow/" class="t">IR说明会</a></li>
            <li><a href="https://ir.p5w.net/product/" class="t">IR服务</a></li>
            <li><a href="https://ir.p5w.net/question/" class="t">互动问答</a></li>
            <li><a href="https://ir.p5w.net/dqhd/" class="t">地区互动平台</a></li>
            <li><a href="https://ir.p5w.net/news/" class="t">资本源声音</a></li>
        </ul>
        <div class="navBar">
            <div class="searchBar">
                <!-- <input type="text" name="searchValue" id="mainSearch" placeholder="代码/关键词" class="txt fl searchValue" onkeypress="if(event.keyCode==13) {search();return false;}"><input type="button" onclick="search()" class="btn" value="搜索"> -->
                <input type="text" name="searchValue" id="mainSearch" placeholder="代码/关键词" autocomplete="off" class="txt fl searchValue"><input type="button" class="btn" id="mainSearchBtn" value="搜索">
            </div>
        </div>
    </div>
</div>
<script>
    (function() {
        var localUrl=window.location.href,
            defaultUrl="https://ir.p5w.net/",
            navObj=$("#top_nav li");
        if(defaultUrl.indexOf(":8080")>-1){	//本地不做任何操作

        }else if(defaultUrl.indexOf(":80")>-1){//线上替换:80后，保证lsPath和地址栏的主地址相同
            defaultUrl=defaultUrl.replace(":80","");
        }
        localUrl=localUrl.replace(defaultUrl,"");
        function setSelected(i){
            navObj.eq(i).addClass("active");
        }
        if(localUrl.indexOf('roadshow')>-1){
            setSelected(1);
        }else if(localUrl.indexOf('product')>-1){
            setSelected(2);
        }else if(localUrl.indexOf('question')>-1){
            setSelected(3);
        }else if(localUrl.indexOf('dqhd')>-1){
            setSelected(4);
        }else if(localUrl.indexOf('news')>-1){
            setSelected(5);
        }else{
            setSelected(0);
        }
    })();

    $(function(){
        //autoCode.onLoadStation('#mainSearch',false,true);
        autoSearch("#mainSearch",40,true);
        // autoSearch("#companyCodeTxt",40,false);
    })
</script>


	
	<!-- 内容 -->
	

<link rel="stylesheet" href="https://ir.p5w.net/resources/css/road_show_detail.css">
<input type="hidden" id="shareWXUrl" value="https://wxly.p5w.net/company/">
<input type="hidden" id="shareCompanyAWXUrl" value="https://wxly.p5w.net/company/">
<input type="hidden" id="currCompanyType" value="1" />
<input type="hidden" id="perComType" value="0">
<input type="hidden" id="companyCode" value="002938">
<input type="hidden" id="companyBaseinfoId" value="0001EBC5076556564D8CB4B9652569F04CAF">
<input id="currentUserId" type="hidden" value=""/>
<input id="source" name="source" type="hidden" value=""/>
<div id="roadWrap">
	<section class="roadBanner" v-if="companyInfo.bannerUrl" :style="'background-image:url('+companyInfo.bannerUrl+')'">
		<div class="shade"></div>
		<div class="area cf">
			<p class="pic">
				<a :href="expertInfo.localUrl?expertInfo.localUrl:companyInfo.localUrl" class="logo" :class="expertInfo?'expert':''"><img v-cloak :src="expertInfo.logo?expertInfo.logo:companyInfo.logo"></a>
			</p>
			<dl class="info">
				<dt class="t">
					<a v-cloak :href="expertInfo.localUrl?expertInfo.localUrl:companyInfo.localUrl" class="name" v-text="expertInfo?expertInfo.realname:companyInfo.companyFullname"></a>
					<a v-cloak class="follow" :class="companyInfo.isFoucus?'ok':''" :data-id="companyInfo.pid" :data-type="companyInfo.isFoucus?1:0" data-focustype="1" v-text="companyInfo.isFoucus?'已关注':'关注'"></a>
					<span v-cloak class="delisting" v-show="companyInfo.isDelist==1" v-text="companyInfo.delist"></span>
				</dt>
				<dd>
					<p v-cloak v-if="!expertInfo">公司简称：<span v-text="companyInfo.companyShortname"></span></p>
					<p v-cloak v-if="!expertInfo && (companyInfo.companyType==1 || companyInfo.companyType==3 || companyInfo.companyType==13|| companyInfo.companyType==2)">证券代码：<span v-text="companyInfo.companyCode"></span></p>
					<p v-cloak v-if="!expertInfo && companyInfo.ownedAreaName">所属地区：<span v-text="companyInfo.ownedAreaName"></span></p>
					<p v-cloak v-if="!expertInfo && companyInfo.ownedIndustryName">所属行业：<span v-text="companyInfo.ownedIndustryName"></span></p>
					<p v-cloak v-if="!expertInfo && companyInfo.companySite"><a :href="companyInfo.companySite" target="_blank" class="site icon">公司官网</a></p>
					<p v-cloak v-if="expertInfo.companyShortname">所在机构：<span v-text="expertInfo.companyShortname"></span></p>
					<p v-cloak v-if="expertInfo.province && companyInfo.perComType==0">所在地：<span v-text="expertInfo.province"></span></p>
					<p v-cloak v-if="expertInfo.licenseNo">执业证号：<span v-text="expertInfo.licenseNo"></span></p>
				</dd>
			</dl>
			<div class="wxBox" id="wxBox">
				<p>扫码观看</p>
				<div class="btm">
					<div class="code"></div>
				</div>
			</div>
			<p class="shareBar">
				分享到：
				<a href="javascript:;" class="ico wx" :data_url="companyInfo.wxUrl" :logo="companyInfo.companyType==1?companyInfo.logo:''" onclick="share.wx(this,'bottom');" title="分享到微信"></a>
				<a href="javascript:;" class="ico zone" onclick="share.qZone(this);" :data_title="companyInfo.companyFullname" data_desc="" :data_url="companyInfo.localUrl" :data_summary="companyInfo.companyFullname" title="分享到QQ空间"></a>
				<a href="javascript:;" onclick="share.sinaWB(this);" :data_url="companyInfo.localUrl" :data_title="companyInfo.companyFullname" class="ico sina" title="分享到新浪微博"></a>
			</p>
		</div>
	</section>

	<section class="roadNav">
		<div class="area">
			<!-- 上市公司 -->
			<nav class="nav" id="linkNav" style="display:none;">
				<a href="javascript:;" target="_blank">路演厅首页</a>
				<a href="javascript:;" target="_blank" link="menuRoad">路演</a>
				<a href="javascript:;" target="_blank" link="menuSwap">互动</a>
				<a href="javascript:;" target="_blank" link="menuPost">公告</a>
				<a href="javascript:;" target="_blank" link="menuMedia">媒体报道</a>
				<a href="javascript:;" target="_blank" link="menuIntro">公司概况</a>
			</nav>
			<!-- 上市公司-新 -->
			<nav class="nav" id="linkNav-new" style="display:none;">
				<a href="javascript:;" target="_blank">路演厅首页</a>
				<a href="javascript:;" target="_blank" link="sptp">上市进展</a>
				<a href="javascript:;" target="_blank" link="gsjj">公司简介</a>
				<a href="javascript:;" target="_blank" link="team">团队成员</a>
				<a href="javascript:;" target="_blank" link="ssxx">上市信息</a>
				<a href="javascript:;" target="_blank" link="gd">主要股东</a>
				<a href="javascript:;" target="_blank" link="cwzb">财务指标</a>
				<a href="javascript:;" target="_blank" link="hyxx">行业信息</a>
				<a href="javascript:;" target="_blank" link="zjjg">中介机构</a>
			</nav>
			<!-- 其他类型 -->
			<nav class="nav" id="linkNav2" style="display:none;">
				<a href="javascript:;" target="_blank">路演厅首页</a>
				<a href="javascript:;" target="_blank" link="menuRoad">路演</a>
				<!-- <a href="javascript:;" target="_blank" link="menuNews">动态</a>
				<a href="javascript:;" target="_blank" link="menuIdea">观点</a> -->
				<a href="javascript:;" target="_blank" link="menuInteract">互动交流</a>
				<a href="javascript:;" target="_blank" link="menuAsk">向他提问</a>
				<!-- <a href="javascript:;" target="_blank" link="menuProduct">相关展示</a> -->
				<a href="javascript:;" target="_blank" link="menuCompany">公司简介</a>
				<!-- <a href="javascript:;" target="_blank" link="menuTeam">团队介绍</a> -->
			</nav>
			<!-- 公募基金 -->
			<nav class="nav" id="linkNav3" style="display:none;">
				<a href="javascript:;" target="_blank">路演厅首页</a>
				<a href="javascript:;" target="_blank" link="menuRoad">路演</a>
				<a href="javascript:;" target="_blank" link="menuIdea">投研观点</a>
				<a href="javascript:;" target="_blank" link="menuNews">公司动态</a>
				<a href="javascript:;" target="_blank" link="menuMedia">信息披露</a>
				<a href="javascript:;" target="_blank" link="menuCompany">公司介绍</a>
			</nav>
			<!-- 行家 -->
			<nav class="nav" id="linkNav4" style="display:none;">
				<a href="javascript:;">路演厅首页</a>
				<a href="javascript:;" target="_blank" link="menuPerson">个人简介</a>
				<a href="javascript:;" target="_blank" link="menuRoad">路演</a>
				<a href="javascript:;" target="_blank" link="menuIdea">观点</a>
				<a href="javascript:;" target="_blank" link="menuNews">动态</a>
				<a href="javascript:;" target="_blank" link="menuInteract">交流</a>
				<a href="javascript:;" target="_blank" link="menuTeam">团队介绍</a>
				<a href="javascript:;" target="_blank" link="menuCompanyPic">形象展示</a>
			</nav>
			<!-- 港股 -->
			<nav class="nav" id="linkNav5" style="display:none;">
				<a href="javascript:;" target="_blank">路演厅首页</a>
				<a href="javascript:;" target="_blank" link="menuRoad">最新路演</a>
				<a href="javascript:;" target="_blank" link="menuNews">公司之声</a>
				<a href="javascript:;" target="_blank" link="menuInteract">互动交流</a>
				<a href="javascript:;" target="_blank" link="menuAsk">向他提问</a>
				<a href="javascript:;" target="_blank" link="menuProduct">相关展示</a>
				<a href="javascript:;" target="_blank" link="menuCompany">公司简介</a>
				<a href="javascript:;" target="_blank" link="menuTeam">团队介绍</a>
			</nav>
		</div>
	</section>
</div>
<script src="https://ir.p5w.net/resources/plugins/jquery/jquery.qrcode.min.js"></script>
<script src="https://ir.p5w.net/resources/js/common/share.js?v=20260520"></script>
<script src="https://ir.p5w.net/resources/js/company/companyHeader.js?v=20260520"></script>
<input id="questionId" name="questionId" type="hidden" value="0001B72172A819964E46B893627ACCDFE5A1"/>

<div class="area exchange">
	<ul class="queList">
		<li class="top" v-for="item in topQuest.rows">
			<div class="quest" v-if="item.questionUser">
				<div class="ovh">
					<p class="avatar" :class="item.questionUser.isShowCard?'superStar':''" :userID="item.questionUser.pid">
						<img :src="item.questionUser.userPictureUrl">
						<i v-if="item.questionUser.userTypeIcon" :style="{backgroundImage:'url('+item.questionUser.userTypeIcon+')'}"></i>
					</p>
					<div class="about">
						<p class="tBar">
							<span class="person" :class="item.questionUser.isShowCard?'superStar':''" :userID="item.questionUser.pid" v-text="item.nickname"></span>&nbsp;问
							<a :href="item.linkWeb" target="_blank" class="person">
								<span v-text="item.companyBaseInfo.companyShortname"></span>
								<span v-if="item.companyBaseInfo.isShowCode" v-text="'('+item.companyBaseInfo.companyCode+')'"></span>
							</a>：
							
							<span v-html="item.content" class="dib f14"></span>
						</p>
						<p class="date" v-text="item.questionerTimeStr"></p>
					</div>
				</div>
			</div>
			<div class="answer" v-if="item.replyList.length>0">
				<p class="avatar">
					<img :src="item.companyBaseInfo.companyLogoUrl">
				</p>
				<p class="tBar">
					<a :href="item.linkWeb" target="_blank" class="person">
						<span v-text="item.companyBaseInfo.companyShortname"></span>
						<span v-if="item.companyBaseInfo.isShowCode" v-text="'('+item.companyBaseInfo.companyCode+')'"></span>
					</a>&nbsp;回答
					<span class="person" :class="item.questionUser.isShowCard?'superStar':''" :userID="item.questionUser.pid" v-text="item.nickname"></span>：
					
					<span v-html="item.replyList[0].replyContent" class="dib f14"></span>
				</p>
				<p class="date" v-text="item.replyList[0].replyerTimeStr"></p>
				<p class="shareBar">
					<a href="javascript:;" class="ico wx" data_url="https://wxly.p5w.net/question/" :data_id="item.pid" onclick="share.wx(this,'left')" title="分享到微信"></a>
					<a href="javascript:;" class="ico zone" onclick="share.qZone(this);" :data_title="item.replyList[0].replyContent" data_desc="" :data_url="item.shareUrl" :data_summary="item.replyList[0].replyContent" title="分享到QQ空间"></a>
					<a href="javascript:;" onclick="share.sinaWB(this);" :data_url="item.shareUrl" :data_title="item.replyList[0].replyContent" class="ico sina" title="分享到新浪微博"></a>
				</p>
			</div>
		</li>
		<li v-if="replyInfo.length==0" class="noData">暂无回复信息！</li>
	</ul>
	<!-- 提问列表Begin -->
	<div class="tabBox">
		<div class="roadTab">
			<nav class="t">
				<a href="javascript:;" class="curr">最新回复</a>
				<a href="javascript:;">最新提问</a>
			</nav>
		</div>
		<div class="tabCon">
			<!-- 最新回复Begin -->
			<div class="conList">
				<ul class="queList">
					<li v-for="item in replyInfo.rows">
						<div class="quest">
							<div class="ovh">
								<p class="avatar" :class="item.isShowCard?'superStar':''" :userID="item.userId">
									<img :src="item.userPictureUrl">
									<i v-if="item.userTypeIcon" :style="{backgroundImage:'url('+item.userTypeIcon+')'}"></i>
								</p>
								<div class="about">
									<p class="tBar">
										<span class="person" :class="item.isShowCard?'superStar':''" :userID="item.userId" v-text="item.nickname"></span>&nbsp;问
										<a :href="item.linkWeb" target="_blank" class="person">
											<span v-text="item.companyShortname"></span>
											<span v-if="item.isShowCode" v-text="'('+item.companyCode+')'"></span>
										</a>：
										<a :href="item.contentUrl" v-html="item.content" target="_blank" class="dib f14"></a>
									</p>
									<p class="date" v-text="item.questionerTimeStr"></p>
								</div>
							</div>
						</div>
						<div class="answer">
							<p class="avatar">
								<img :src="item.companyLogoUrl">
							</p>
							<p class="tBar">
								<a :href="item.linkWeb" target="_blank" class="person">
									<span v-text="item.companyShortname"></span>
									<span v-if="item.isShowCode" v-text="'('+item.companyCode+')'"></span>
								</a>&nbsp;回答
								<span class="person" :class="item.isShowCard?'superStar':''" :userID="item.userId" v-text="item.nickname"></span>：
								<a :href="item.contentUrl" target="_blank" v-html="item.replyContent" class="dib f14"></a>
							</p>
							<p class="date" v-text="item.replyerTimeStr"></p>
							<p class="shareBar">
								<a href="javascript:;" class="ico wx" data_url="https://wxly.p5w.net/question/" :data_id="item.pid" onclick="share.wx(this,'left')" title="分享到微信"></a>
								<a href="javascript:;" class="ico zone" onclick="share.qZone(this);" :data_title="item.replyContent" data_desc="" :data_url="item.shareUrl" :data_summary="item.replyContent" title="分享到QQ空间"></a>
								<a href="javascript:;" onclick="share.sinaWB(this);" :data_url="item.shareUrl" :data_title="item.replyContent" class="ico sina" title="分享到新浪微博"></a>
							</p>
						</div>
					</li>
					<li v-if="replyInfo.length==0" class="noData">暂无回复信息！</li>
				</ul>
				<div class="noData" :class="!replyInfo?'db':''" v-cloak>
					<p>暂无相关回复信息，小编在马不停蹄的更新中，敬请期待！</p>
				</div>
				<div class="pageBox cf">
					<div id="replyPagination" class="page"></div>
				</div>
			</div>
			<!-- 最新回复End -->

			<!-- 最新提问Begin -->
			<div class="conList" style="display:none;">
				<ul class="queList">
					<li v-for="item in questInfo.rows">
						<div class="quest">
							<div class="ovh">
								<p class="avatar" :class="item.isShowCard?'superStar':''" :userID="item.userId">
									<img :src="item.userPictureUrl">
									<i v-if="item.userTypeIcon" :style="{backgroundImage:'url('+item.userTypeIcon+')'}"></i>
								</p>
								<div class="about">
									<p class="tBar">
										<span class="person" :class="item.isShowCard?'superStar':''" :userID="item.userId" v-text="item.nickname"></span>&nbsp;问&nbsp;
										<a :href="item.linkWeb" target="_blank" class="person">
											<span v-text="item.companyShortname"></span>
											<span v-if="item.isShowCode" v-text="'('+item.companyCode+')'"></span>:
										</a>
										<a :href="item.contentUrl" v-html="item.content" target="_blank" class="dib f14"></a>
									</p>
									<p class="date" v-text="item.questionerTimeStr"></p>
								</div>
							</div>
						</div>
					</li>
					<li v-if="questInfo.length==0" class="noData">暂无提问信息！</li>
				</ul>
				<div class="noData" :class="!questInfo?'db':''" v-cloak>
					<p>暂无相关提问信息，小编在马不停蹄的更新中，敬请期待！</p>
				</div>
				<div class="pageBox cf">
					<div id="askPagination" class="page"></div>
				</div>
			</div>
			<!-- 最新提问End -->
		</div>
	</div>
	<!-- 提问列表End -->
</div>
<script src="https://ir.p5w.net/resources/js/question/userCard.js?v=20260520"></script>
<script src="https://ir.p5w.net/resources/js/question/companyQA.js?v=20260520"></script>

	
	<!-- 免责声明 -->
	
<!-- 页脚 导航-->

<!--底部-->
<div class="pageFooter">
	<div class="area cf">
		<div class="aboutit">
			<h2>投资者关系互动平台</h2>
			<a href="https://ir.p5w.net/aboutus.shtml" target="_blank">关于我们</a>
			<a href="https://ir.p5w.net/handbook.shtml" target="_blank">使用指引</a>
			<a href="https://ir.p5w.net/service.shtml" target="_blank">服务协议</a>
			
			<a href="https://ir.p5w.net/realname.shtml" target="_blank">身份认证</a>
			<a href="https://ir.p5w.net/jifen.shtml" target="_blank">积分介绍</a>
			<br/>咨询电话：4008303630
            <br/> 电子邮箱：<a href="mailto:irm@p5w.net">irm@p5w.net</a><br/>
            <a href="javascript:;" id="dutyCtrl">免责声明</a>
            <a href="javascript:;" id="versionCtrl">版权声明</a>
        </div>
		<div class="friendship">
			<h2>友情链接</h2>
			<a href="http://www.csrc.gov.cn" rel="nofollow" target="_blank">中国证监会</a>
			<a href="http://www.szse.cn" rel="nofollow" target="_blank">深圳证券交易所</a>
			<a href="http://www.sse.com.cn" rel="nofollow" target="_blank">上海证券交易所</a>
			<a href="http://www.sac.net.cn" rel="nofollow" target="_blank">证券业协会</a>
			<a href="http://www.capco.org.cn" rel="nofollow" target="_blank">上市公司协会</a>
			<a href="http://www.amac.org.cn" rel="nofollow" target="_blank">基金业协会</a>
			<a href="http://www.sipf.com.cn" rel="nofollow" target="_blank">投资者保护公司</a>
			<a href="https://www.p5w.net" rel="nofollow" target="_blank">全景网</a>
			<a href="http://www.xcf.cn" rel="nofollow" target="_blank">新财富</a>
			<a href="http://www.stcn.com" rel="nofollow" target="_blank">证券时报</a>
			<!-- <a href="https://www.chnfund.com" rel="nofollow" target="_blank">中国基金报</a> -->
			<a href="http://www.cninfo.com.cn/" rel="nofollow" target="_blank">巨潮网</a>
			
			
			<a href="https://www.p5w.net/v/" rel="nofollow" target="_blank">全景视频</a>
		</div>
        <div class="relief" style="border:none; text-align:left;">
            <a href="https://www.p5w.net/zt/jubao.htm" target="_blank">违法和不良信息举报电话：0755-82512409</a>
            <a href="mailto:jubao@p5w.net">举报邮箱: jubao@p5w.net</a>
        </div>
    </div>
    <!-- <div class="relief area">
        <p>免责声明：全景路演是共享模式路演互动平台，对用户自助式直播或发布资讯的准确性、完整性或时效性，不做任何保证。投资有风险，参考需谨慎。</p>
        <a href="https://www.p5w.net/zt/jubao.htm" target="_blank">违法和不良信息举报电话：0755-82512409</a>
        <a href="mailto:jubao@p5w.net">举报邮箱: jubao@p5w.net</a>
    </div> -->
	<div class="copy mt10">本网站提供之资料或信息，仅供投资者参考，不构成投资建议<br/>所有原创内容版权归深圳市全景网络有限公司所有，未经书面授权禁止使用<br/>Copyright&copy;深圳市全景网络有限公司版权所有 经营许可证号：粤B2-20050249号 信息网络传播视听节目许可证号：1903034<br/>建议使用IE10及以上版本、Firefox、GoogleChrome浏览器</div>
</div>
<script src="https://hm.baidu.com/hm.js?ed9dac8a2b525df95dc69c97bbcda470"></script>
<script type="text/javascript" charset="utf-8" src="https://ir.p5w.net/resources/js/common/transition.js"></script>
<script type="text/javascript" charset="utf-8" src="https://ir.p5w.net/resources/js/common/statement.js"></script>

<!--end-->

	
</body>
</html>